table {
    border: 1px solid black;
}

th,
td {
    text-align: center;
}

th {
    color: white;
    background-color: rgb(47, 120, 184);
}

tr:nth-child(even) {
    background-color: rgb(151, 199, 243);
}

tr:hover {
    background-color: yellow;
}
